<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <th>Latest Blog Entries</th>
    </tr>
    <% @entries = Entry.all %>
    <% @entries.each do |entry| %>
    <tr><td><a href="entry/<%= entry.id %>"><%= entry.title %></a></td></tr>
    <% @tags = Tag.where("entry = ?", entry.id) %>
    <% @tags.each do |tag| %>
    <% tagname = Tagname.find_by_id(tag.tag) %>
    <tr><td>    Tag: <a href="tag/<%= tag.tag %>"><%= tagname.name %></a></td></tr>
    <% end %>
    <% end %>
  </table>

  <p></p>

  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td><code><%= __FILE__.gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td><code><%= File.expand_path('../layout.erb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td><code><%= File.expand_path('../../controllers/index.rb', __FILE__).gsub(Sinatra::Application.root, '') %></code></td>
    </tr>
  </table>
</div>
